body{
    text-align: center;
    font-family: 'Merriweather', serif;
}
.top-container{
    margin-top:0px;
    background-color:#EAFDFC;
    padding-top:100px;
    width: 100%;
    height: 100%;
    margin: 0px 0px 100px 0px;
}
.bottom-container{
    background-color: #66BFBF;
    margin: 0px;
    padding: 50px 0px 20px;
}
#bottom-cloud{
    position: absolute;
    left: 250px;
}
#top-cloud{
    position: absolute;
    top: 40px;      
    right:300px;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 90px; /*1em=16px*/
    margin: 50px auto 0px auto;
    color: #66BFBF;
}
#profile{
    width: 250px;
}
.C{    /*you can style two class together by separating the names of class by comma*/
    width: 25%;
    float: left;
    margin-right: 30px;
}
.Python{
    width: 25%;
    float: right;
    margin-left: 30px;
}
h2{
    font-family: 'Montserrat', sans- serif;
    font-size: 2rem;
    color:#66BFBF;
    font-weight: normal;
}
.pro{
    text-decoration: underline;
}
h3,a{
    color:#11999E;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat",sans-serif;
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .contact-me{
    margin-bottom: 40px;
  }
  a{
    color:#11999E;
    font-family: 'Montserrat',sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
.intro{
    width: 40%;
    margin: auto;
    line-height: 2;
}
hr{
    border-style: dotted none none;
    border-width: 10px;
    width: 9%;
    color:#EAF6F6;
    margin: 100px auto;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
a:hover{
    color:#EAEAF6
}
.copyright{
    color:#EAEAF6;
    font-size: 0.75rem;
}
